<section class="about-container">
    <div class="about">
    <h1 class="about">About Notes Mad</h1>
    <p class="about">Notes-Mad is a Node.js application with dependencies that enable the creation and management of notes.</p>
    <p class="about"> I wanted a fullstack project to practice and embedd my newly acquired skills but extend them further to encourage skill growth. I love stationary and to-do lists and post-it notes.so when I saw a tutorial on YouTube by  <a href="https://youtu.be/_B-54mvPup4">codefoxx</a> and I couldn't resist giving it a go.</p>
    <p class="about"> This tutorial is just for a simple front-end app and I enjoyed it, however, I soon started think about making it into a fullstack app and this is the result.
    </p>
    <p class="about">You can view full project at my <a href="https://github.com/LA1975/Notes-Mad.git">Github repository</a></p>
    </div>
</section>